B24_DOMAIN="domain"
B24_ID="0"
B24_HASH="hash"
B24_RESPONIBLE_ID="1"
UD_TABLE_URL="https://site.ru/route"

{
   "result": {
      "ID": "27661",
      "TITLE": "+79129915813 - Исходящий звонок",
      "HONORIFIC": null,
      "NAME": "",
      "SECOND_NAME": "",
      "LAST_NAME": "",
      "COMPANY_TITLE": null,
      "COMPANY_ID": "0",
      "CONTACT_ID": "90445",
      "IS_RETURN_CUSTOMER": "Y",
      "BIRTHDATE": "",
      "SOURCE_ID": "CALL",
      "SOURCE_DESCRIPTION": "Звонок поступил на номер: Приложение: Облачная АТС Билайн Бизнес.",
      "STATUS_ID": "25",
      "STATUS_DESCRIPTION": null,
      "POST": null,
      "COMMENTS": null,
      "CURRENCY_ID": "RUB",
      "OPPORTUNITY": "0.00",
      "IS_MANUAL_OPPORTUNITY": "N",
      "HAS_PHONE": "Y",
      "HAS_EMAIL": "N",
      "HAS_IMOL": "N",
      "ASSIGNED_BY_ID": "9",
      "CREATED_BY_ID": "59",
      "MODIFY_BY_ID": "1554",
      "DATE_CREATE": "2021-11-25T13:40:51+05:00",
      "DATE_MODIFY": "2026-05-20T15:45:28+05:00",
      "DATE_CLOSED": "2022-05-05T17:57:25+05:00",
      "STATUS_SEMANTIC_ID": "P",
      "OPENED": "Y",
      "ORIGINATOR_ID": null,
      "ORIGIN_ID": null,
      "MOVED_BY_ID": "9",
      "MOVED_TIME": "2026-05-20T15:44:18+05:00",
      "ADDRESS": null,
      "ADDRESS_2": null,
      "ADDRESS_CITY": null,
      "ADDRESS_POSTAL_CODE": null,
      "ADDRESS_REGION": null,
      "ADDRESS_PROVINCE": null,
      "ADDRESS_COUNTRY": null,
      "ADDRESS_COUNTRY_CODE": null,
      "ADDRESS_LOC_ADDR_ID": null,
      "UTM_SOURCE": null,
      "UTM_MEDIUM": null,
      "UTM_CAMPAIGN": null,
      "UTM_CONTENT": null,
      "UTM_TERM": null,
      "PARENT_ID_1032": null,
      "LAST_COMMUNICATION_TIME": "20.05.2026 15:34:36",
      "LAST_ACTIVITY_BY": "9",
      "LAST_ACTIVITY_TIME": "2026-05-20T15:34:36+05:00",
      "UF_CRM_1699503292": "",
      "UF_CRM_1720430713": "",
      "UF_CRM_1726720860": "",
      "UF_CRM_1730268060": "",
      "UF_CRM_1727328936": "импланты стоят, еще необходимо",
      "UF_CRM_1727349708": "",
      "UF_CRM_1635751283979": "51",
      "UF_CRM_1641797741496": "",
      "UF_CRM_1648454183307": "",
      "UF_CRM_1663842086": "",
      "UF_CRM_1663944916": "",
      "UF_CRM_1666181589213": "",
      "UF_CRM_1666181600637": "",
      "UF_CRM_1667293966436": "",
      "UF_CRM_1668158536891": "",
      "UF_CRM_1668352823231": "1958",
      "UF_CRM_1668353127794": "5227",
      "UF_CRM_1668353553637": "",
      "UF_CRM_1668353673908": "",
      "UF_CRM_1668353728098": "",
      "UF_CRM_1676443166564": "",
      "UF_CRM_1677143183944": "0",
      "UF_CRM_1677737770": "2023-08-08T17:04:19+05:00",
      "UF_CRM_1682664620": "",
      "UF_CRM_1686650492": false,
      "UF_CRM_LEAD_TG": "",
      "UF_CRM_1693370112": "",
      "UF_CRM_1698225575": "",
      "UF_CRM_1698302617": "",
      "UF_CRM_CALLTOUCHTAPS": "",
      "UF_CRM_CALLTOUCHNF0E": "",
      "UF_CRM_CALLTOUCHYADV": "",
      "UF_CRM_1699858992": "",
      "UF_CRM_1699859007": "",
      "UF_CRM_1699873093": "",
      "UF_CRM_1707909725": "",
      "UF_CRM_1708544787": "",
      "UF_CRM_1708546273": "",
      "UF_CRM_1713330475": false,
      "UF_CRM_1713330497": "309063",
      "UF_CRM_1713951004": "",
      "UF_CRM_1718864757": "5236",
      "UF_CRM_1720401759": "",
      "UF_CRM_1725972523": "",
      "UF_CRM_1726815456024": "1d2d09d4-054a-4c19-9c84-531557da2e61",
      "UF_CRM_1730464573807": "",
      "UF_CRM_INSTAGRAM_WZ": "",
      "UF_CRM_VK_WZ": "",
      "UF_CRM_AVITO_WZ": "",
      "UF_CRM_TELEGRAMUSERNAME_WZ": "",
      "UF_CRM_TELEGRAMID_WZ": "",
      "UF_CRM_1731929520": "",
      "UF_CRM_1733751461142": "",
      "UF_CRM_1738741141": "",
      "UF_CRM_1743055584610": false,
      "UF_CRM_1750404547949": "",
      "UF_CRM_1755839194": "",
      "UF_CRM_MAXUSERNAME_WZ": "",
      "UF_CRM_MAXID_WZ": "",
      "UF_CRM_1766489150882": "",
      "UF_CRM_1767871530657": "",
      "UF_CRM_1769489536486": "",
      "UF_CRM_1770097979886": "",
      "UF_CRM_1770098039600": "",
      "UF_CRM_1773290055866": "",
      "UF_CRM_1773815058387": "",
      "UF_CRM_1773815088130": "",
      "UF_CRM_1777455296073": "",
      "UF_CRM_IS_REPEATED_APPROACH": "",
      "UF_CRM_1663935201125": "2021-11-25T05:00:00+05:00",
      "UF_CRM_63711715232A9": "9",
      "UF_CRM_6371171832B40": "679",
      "UF_CRM_6371171653E07": "1",
      "UF_CRM_63711715A6D71": "0",
      "UF_CRM_63711718A0005": "",
      "UF_CRM_1663323210147": "",
      "UF_CRM_637117172CEF5": "",
      "UF_CRM_63711716C1BDC": "",
      "UF_CRM_63711717CA1C8": "",
      "UF_CRM_634FEAE2C4B2C": "",
      "UF_CRM_62DE2F322D023": "",
      "UF_CRM_1656313695996": "856",
      "UF_CRM_62416B0966BA8": "",
      "UF_CRM_1642737994": "",
      "UF_CRM_CATEGORY_ID": "",
      "UF_CRM_TYPE_ID": "",
      "UF_CRM_EVENT_ID": "",
      "UF_CRM_1653981872504": "",
      "UF_CRM_1653982062034": "",
      "UF_CRM_EMAIL_MAILING": "",
      "UF_CRM_62FB85A7942B2": "",
      "UF_CRM_634FEAE058173": "",
      "UF_CRM_634FEADFE8306": "",
      "UF_CRM_634FEADF89BAC": "",
      "UF_CRM_632C3D83E2CE8": "",
      "UF_CRM_6552036CB7271": "",
      "UF_CRM_632C3D84616E2": "",
      "UF_CRM_6490364FBB33E": "",
      "UF_CRM_1653982049737": "",
      "UF_CRM_1668499528426": "",
      "UF_CRM_6371A11FD347D": "",
      "UF_CRM_1668499778942": "",
      "UF_CRM_6371A120E380F": "",
      "UF_CRM_637117145105C": "",
      "UF_CRM_648846EB96F8C": false,
      "UF_CRM_6371BB18A7EEF": "",
      "UF_CRM_6371BB1947E6E": "",
      "UF_CRM_6371BB19A5754": "",
      "UF_CRM_6371A121C8752": "",
      "UF_CRM_6374682F6B5A7": "",
      "UF_CRM_1668511599392": "",
      "UF_CRM_1710229960609": "",
      "UF_CRM_FULL_ADDRESS": "",
      "UF_CRM_1668352647913": "",
      "UF_CRM_1668339568358": "2026-05-21T16:00:00+05:00",
      "UF_CRM_1669983432137": "",
      "UF_CRM_64EECDD0174C7": "",
      "UF_CRM_653A15B819EB7": "",
      "UF_CRM_6628A4A3B28B6": false,
      "UF_CRM_1673242180237": "",
      "UF_CRM_65D6CDB8A5780": "",
      "UF_CRM_1670932482316": "",
      "UF_CRM_6332CE5BD4709": "",
      "UF_CRM_63621B7E094BA": "",
      "UF_CRM_1641804396444": "",
      "UF_CRM_6538F20CE9D8D": "",
      "UF_CRM_65D6CDBA59E1A": "",
      "UF_CRM_1670062259982": "",
      "UF_CRM_63711713D4C68": "",
      "UF_CRM_6371A111AD3E7": "",
      "UF_CRM_1648104799213": "",
      "UF_CRM_64F6E893BD580": "",
      "UF_CRM_1682663178847": "",
      "UF_CRM_63F733513AA07": "",
      "UF_CRM_6371A12378BA1": "",
      "UF_CRM_651BAC57401D8": false,
      "UF_CRM_6371A11DDBCB6": "",
      "UF_CRM_6371A11F121E8": "",
      "UF_CRM_1711347041": false,
      "UF_CRM_1737714682478": "",
      "UF_CRM_1747305125181": "",
      "UF_CRM_1745576065467": "",
      "UF_CRM_1750389918188": "",
      "UF_CRM_1747305657891": "",
    "PHONE": [
          {
              "ID": "30539",
              "VALUE_TYPE": "WORK",
              "VALUE": "+79129915813",
              "TYPE_ID": "PHONE"
          }
        ]
    },
    "time": {
        "start": 1779276065,
        "finish": 1779276065.58255,
        "duration": 0.582550048828125,
        "processing": 0,
        "date_start": "2026-05-20T16:21:05+05:00",
        "date_finish": "2026-05-20T16:21:05+05:00"
    }
}